@font-face {
    font-family: Editorial-New;
    src: url(/fonts/EditorialNew-Regular.woff);
}

@font-face {
    font-family: Lausanne-500;
    src: url(/fonts/Lausanne-500.woff);
}

@font-face {
    font-family: Lausanne-800;
    src: url(/fonts/Lausanne-800.woff);
}